/*********************************************************************************************************
**                                                                                                      **
	SCSS Santity Test  './scss/application.scss
**                                                                                                      **
*********************************************************************************************************/
// ==========================================================================
// Global Imports
// ==========================================================================

*, *::before, *::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


// ==========================================================================
// Cover Imports
// ==========================================================================

// body {
// 	font-size: 1em;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	background: #f2f2f2;
// }
@import 'base/index';
@import 'components/index';
@import 'layout/index';

// .nav {
// 	display: flex;	
// 	flex-direction: row;
// 	background: #3366cc;
// }

// .nav__logo {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	position: relative;
// }

// .nav__img {
// 	width: 100px;
// }

// .nav__btn {
//   width: 35px;
//   height: 5px;
//   background-color: #fff;
//   margin: 6px 0;
//   position: absolute;
//   top: 50px;
//   left: 90%;
  
// }

// .nav__btn::before {
// 	content: '';
// 	background-color: red;
// }