// ==========================================================================
// Cover Imports
// ==========================================================================

.cover {
	display: grid;
	grid-template-columns: 40px  2fr;
	grid-template-rows: 40% 1fr;
	height: 667px;

	&__img {
		@include boxShadow;
		grid-column: 1 /3;
		grid-row: 1 /  3;
		background: url("../img/axel-antas-bergkvist-18903-unsplash.jpg") center center no-repeat;
		background-size: cover;
		position: relative;
		bottom: 0;
		z-index: -1;
	}

	&__title {
	 	font-family: $stack-arial-Blk;
	 	text-align: center;
	 	font-size: 1.8em;
	 	padding: 0px 20px 5px;
	 	margin-bottom: 90%;
	}

	&__title, &__author {
		background-color: rgba(255, 0, 0, .8); 
		color: $secondary;
	 	text-transform: uppercase;
		display: block;
	}

	&__title, &__btn {
		grid-column: 1 /3;
		grid-row: 2 /  3;
	}

	&__author {
		@include boxShadow;
		grid-column: 1 /2;
		grid-row: 2 /  2;
		font-family: $stack-calibri;
		font-size: 1.6em;
		text-align: center;
		padding: 20px 0px;		
		position: absolute;
		bottom: 0;
		z-index: 3;
		writing-mode: vertical-rl;
	}

	&__btn {
		@include boxShadow;
		@include upperCase;
		text-decoration: none;
		display: inline-block;
		text-align: center;
		font-size: 1.5rem;
		color: $white;
		background: rgba(255, 0, 0, .6);
		padding: 20px;
		margin: auto;
		transition: 300ms ease-in-out;
		transition-property: box-shadow, color, outline, outline-offset;
	}

	&__btn:hover {
		box-shadow:	0 0 0 10px rgba(255, 0, 0, .5),
								0 0 0 20px rgba(255, 26, 26, .5),
								0 0 0 30px rgba(255, 51, 51, .4),
								0 0 0 40px rgba(255, 77, 77, .2);
	}

	&__btn:hover {
	  box-shadow: 0 5px -1 rgba(0, 0, 0, .3);
	  transform: translateY(4px);
 	}

	@include mq($med)	{
		& {
			grid-template-columns: 10% 1fr;
			grid-template-rows: 80% 1fr;
			height: 1024px;
			position: relative;
		}

		&__img {
			grid-column: 2 / 3;
			grid-row: 1 / 3;
			z-index: 0;
		}

		&__title {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			font-size: 1.6rem;
			text-align: left;
			text-orientation: upright;
			color: $primary;
			background-color: transparent;
		 	margin-bottom: 0px;
			letter-spacing: 1.1px;
			writing-mode: vertical-rl;
		}

		&__author {
			width: 200px;
			height: 50px;
			text-align: left;
			padding: 10px 10px;
			writing-mode: horizontal-tb;
		}

		&__btn {
			@include btnSize(100px, 50px);
		 	font-size: 1.5rem;
			text-transform: uppercase;
			border-radius: 0%;
			padding: 10px;
			margin: 0px auto;
			position: relative;
			z-index: 2;
		}

		&__btn:hover {
			background-color: rgba(255, 0, 0, .5);		
			outline: 2px solid $secondary;
			outline-offset: -3px;			
		}
	}

	@include mq($lg) {
		& {
			width: 1024px;
			height: 768px;
			background: url('../img/white_wall.png');
			padding: 60px;
			margin: auto;
		}
	}
}